@using _06_MVC_Validation.Classes;
@model SystemUser

<form asp-action="Create" method="post">
    <input type="text" asp-for="FirstName" />
    <span asp-validation-for="FirstName"></span>
    <br />
    <input type="text" asp-for="LastName" />
    <span asp-validation-for="LastName"></span>
    <br />
    <input type="number" asp-for="Age" />
    <span asp-validation-for="Age"></span>
    <br />
    <input type="text" asp-for="Email" />
    <span asp-validation-for="Email"></span>
    <br />
    <input type="text" asp-for="Password" />
    <span asp-validation-for="Password"></span>
    <br />
    <input type="submit" value="Save" class="btn btn-outline-success" />
</form>
@section Scripts{
    <partial name="_ValidationScriptsPartial"/>
} @*Client Side*@
