@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

@*HTML Helper*@
@*@await Component.InvokeAsync("Product")
*@

@*Tag Helper*@

<vc:product></vc:product>