
@{
    ViewData["Title"] = "Index";
}

<a class="btn btn-primary" onclick="GetList()">Get List</a>
<a class="btn btn-success" onclick="GetCreatePage()">Create</a>

<div id="list"></div>
<div id="error"></div>
<div id="create"></div>
<div id="update"></div>

